body{
    font-family:verdana;
    text-align:center;
    background-color: aliceblue;
}
.container{
    background-color:white
}
#myB{
    font-size:3em;
    padding:5px 25px;
    border-radius:5p;
    cursor:pointer;
    max-width: 325px;
    border:none;
    box-shadow: 5px 5px 15px;
    border-radius:10px;
    color:white;
    background-color:rgb(21, 177, 224);
}
#myB:hover{
    background-color:hsla(206, 81%, 52%, 0.979)
}
#myB:active{
    background-color: hsl(178, 95%, 52%)
}
#myL{
    font-size:3em;
    background-color:white;
}
.buttons{
    color:hsla(107, 72%, 35%, 0.749);
    font-size: 3em;
}